.chatbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  background-color: #f0f0f5;
}

.chatbottitle {
  color: #444;
  margin-top: 40px;
}

.chat-window {
  width: 80%;
  height: 70%;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 30px;
}

.chat-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #0084ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #006bbd;
}

.message {
  padding: 10px;
  margin: 10px 0;
  max-width: 85%;
  border-radius: 8px;
  word-wrap: break-word;
}

.message.user {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.message.bot {
  background-color: #e5e5ea;
  align-self: flex-start;
}

.chat-window::-webkit-scrollbar {
  width: 6px;
}

.chat-window::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
