.container{
  align-items: center;
  justify-content: center;
  align-items: column;
  text-align: center;
}

.messagesubmitexp {
  text-align: center;
  display: block; 
}

.transremove{
  width: 96%;
  align-items: column;
}

.translist {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.detailstrans{
  padding: 10px;
  font-size: large;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-right: 4%;
}

.textalignexp {
  text-align:center;
  font-size:larger;
}

.buttonexp {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
}

.buttonexp:hover{
  background-color: black;
  color: white;
}

.expense-wrapper{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #a9b4c8, #6babe3, #6689f4, #8830f4);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.exptitle{
  text-align:center;
}

.submitexp {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: fit-content;
}

.submitexp:hover {
  background-color: black;
  color: white;
}

.messagesubmitexp {
  text-align: center;
}

.inpboxexp {
  width: 95%;
  margin: 0 auto;
}

.impmessageexp {
  font-style: italic;
  color: red;
  font-size: smaller;
}
