.main {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 1.7%;
}

.login-page {
  background-color: black;
}

.container {
  width: 26rem;
  color: #4b5563;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 14vh;
}

.container h3 {
  margin-top: 0.5rem;
  color: #4b5563;
  font-size: 1.25rem;
  font-weight: 600;
}

.form {
  margin-top: 1rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  font-size: 0.875rem;
  font-weight: 600;
}

.input-group input {
  width: 90%;
  margin-top: 0.5rem;
  padding: 0.75rem;
  color: #4b5563;
  background-color: transparent;
  outline: none;
  border: 1px solid #cbd5e0;
  transition: border-color 0.3s ease;
  border-radius: 0.5rem;
}

.input-group input:focus {
  border-color: #4f46e5;
}

.error-message {
  color: #dc2626;
  font-weight: 600;
}

.button {
  width: 100%;
  padding: 0.75rem;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button span {
  color: black;
}

.button:disabled {
  background-color: #cbd5e0;
  cursor: not-allowed;
}

.button:hover {
  background-color: #2563eb;
}

.button:active {
  background-color: #1e429f;
}

.sign-up {
  text-align: center;
  font-size: 0.65rem;
  margin-top: 0.5rem;
}

.or-divider {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

.divider-line {
  flex-grow: 1;
  height: 2px;
  background-color: #cbd5e0;
}

.divider-text {
  margin: 0 0.5rem;
  color: #4b5563;
  font-weight: 600;
}

.google-button {
  width: 30%;
  height: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.725rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 34%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textforpass {
  width: auto;
  display: inline-flex;
  font-size: 76%;
}

.forgot-password-button {
  padding-left: 38%;
  width: 30%;
  height: 4vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.725rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 34%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5%;
}

.textcontgg {
  width: auto;
  display: inline-flex;
  font-size: 76%;
}

.google-button:hover {
  background-color: #f3f4f6;
}
