/* form for submitted data */
.formprofile {
    width: 50%;
    max-width: 460px;
    height: 340px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

.prftext{
    text-align:center;
}

.prfelement{
    margin:4%;
}

.formnew{
    width: 50%;
    max-width: 360px;
    height: 600px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}


.formnewarea {
    margin-bottom: 10px;
    resize: none; 
    margin-left: 30px;
    width: 80%; 
    height: 50px;
  }
  

.formtextnew{
    margin-left: 3%;
}

.formnewbox {
    width: 80%; 
    box-sizing: border-box; 
    margin-left: 30px;
    height: 25px;
  }
  
.submitnewform{
    position: absolute;
    transform: translate(270%, 50%);
}

.formnewerrortxt{
    margin-top: 10%;
    text-align: center;
    color:red;
}

.formheading{
    text-align: center;
}
